.header {
    grid-column: span 2;
    width: 100%;
    min-height: 50px;
    padding: 5px 20px;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loginBlock img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo {
}

.logo img {
    max-width: 100px;
    margin-right: 16px;
    background-color: aquamarine;

}

.loginBlock {
    color: #333333;
    text-decoration-color: #333333;
}